---
import TodoList from "@src/components/TodoList.astro"
import BracketsList from "@src/components/BracketsList.astro"
import Layout from "@src/components/Layout.astro"
import LoginButton from "@src/components/LoginButton.astro"
---
<Layout>
		<h1>Spotify + Every Noise at Once DJ</h1>
    <LoginButton />
    <h2>To dos</h2>
    <TodoList />
    <h2>Brackets - songs that the DJ will be able to come up with</h2>
    <BracketsList />
</Layout>
