---
// const {todos} = Astro.props;
const todos = [
"[x] Make a list of the different things that the DJ will be able to do",
  "[In progress] Work on brackets",
  "[In progress] Implement Spotify API to clear the queue and add songs to queue",
  "[ ] Make brackets return an AI DJ script",
  "[ ] Use text to speech API to get audio from AI DJ script",
  "[ ] Implement caching so we're more efficient with Spotify API - e.g. not fetching top artists on every request"
]
---

<ul>
  {todos.map(todo => (
  <li>{todo}</li>
  ))}
</ul>
